<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <p>회차 등록 페이지</p>
    <form id="questionForm" role="form" th:action="@{/{id}/question/new(id=${round.id})}" th:object="${questionForm}"
          method="post">

        <div class="form-group">
            <label th:for="round">회차</label>
            <label>
                <input readonly th:value="${round.roundName}" type="text" class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label th:for="number">번호</label>
            <input readonly type="number" th:field="*{number}" th:value="*{number}" class="form-control"
                   placeholder="번호를 입력하세요"
                   th:class="${#fields.hasErrors('number')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('number')}"
               th:errors="*{number}">Incorrect date</p>
        </div>

        <div class="form-group">
            <label th:for="type">타입</label>
            <div th:each="typeOpt, iterStat : ${T(rimgosu.cbthub.domain.question.QuestionType).values()}">
                <input type="radio" th:field="*{questionType}" th:value="${typeOpt}" th:id="${#ids.seq('typeOpt')}" th:checked="${iterStat.index == 0}"/>
                <label th:for="${#ids.prev('typeOpt')}" th:text="${typeOpt}"></label>
            </div>
        </div>

        <div class="form-group">
            <label th:for="whatQuestion">문제</label>
            <input required type="text" id="whatQuestion" th:field="*{whatQuestion}" class="form-control"
                   placeholder="문제를 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="photo">사진</label>
            <input type="text" id="photo" th:field="*{photo}" class="form-control"
                   placeholder="사진 입력">
        </div>
        <div class="form-group multiple-choice">
            <label th:for="options">옵션</label>
            <div th:each="option, iterStat : *{options}">
                <input class="form-control" type="text" th:name="'options[' + ${iterStat.index} + ']'" th:placeholder="${option}" />
            </div>
        </div>

        <div class="form-group multiple-choice">
            <label th:for="choices">선택지</label>
            <div th:each="choice, iterStat : *{choices}">
                <input class="form-control" type="text" th:name="'choices[' + ${iterStat.index} + ']'" th:placeholder="${choice}" />
            </div>
        </div>

        <!-- ox 퀴즈 정답 -->
        <div class="form-group ox">
            <label th:for="ox">ox 정답</label>
            <div th:each="typeOpt, iterStat : ${T(rimgosu.cbthub.domain.question.CorrectWrong).values()}">
                <input type="radio" th:field="*{oxChoiceAnswer}" th:value="${typeOpt}" th:id="${#ids.seq('typeOpt')}" th:checked="${iterStat.index == 0}"/>
                <label th:for="${#ids.prev('typeOpt')}" th:text="${typeOpt}"></label>
            </div>
        </div>

        <!-- 객관식 정답 -->
        <div class="form-group multiple-choice">
            <label th:for="multipleChoiceAnswers">객관식 정답</label>
            <div th:each="multipleChoiceAnswer, iterStat : *{multipleChoiceAnswers}">
                <!-- 숨겨진 입력 필드 추가. 기본적으로 'WRONG' 값을 가짐 -->
                <input type="hidden" th:id="${'hiddenInput' + iterStat.index}" th:name="'multipleChoiceAnswers[' + ${iterStat.index} + ']'" value="WRONG" />
                <!-- 체크박스 추가. 상태 변경 시 JavaScript 함수 호출 -->
                <input type="checkbox" th:id="${'checkbox' + iterStat.index}" th:name="'multipleChoiceAnswers[' + ${iterStat.index} + ']'" value="CORRECT" th:onchange="'updateValue(this, ' + ${iterStat.index} + ')'" />
                <label th:text="${iterStat.index+1}+'번'">선택지</label>
            </div>
        </div>


        <!-- 주관식 정답 -->
        <div class="form-group subjective">
            <label th:for="subjectiveAnswer">주관식 정답</label>
            <input type="text" id="subjectiveAnswer" th:field="*{subjectiveAnswer}" class="form-control"
                   placeholder="주관식 정답 입력">
        </div>


        <div class="form-group">
            <label th:for="commentary">해설</label>
            <input type="text" id="commentary" th:field="*{commentary}" class="form-control"
                   placeholder="해설 입력">
        </div>

        <div class="form-group">
            <label th:for="gptCommentary">gpt 해설 입력</label>
            <input type="text" id="gptCommentary" th:field="*{gptCommentary}" class="form-control"
                   placeholder="gpt 해설 입력">
        </div>







        <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script>
    window.onload = function() {
        // 'typeOpt' 라디오 버튼 중 첫 번째를 선택합니다.
        var firstRadioButton = document.querySelector('input[type=radio][name="questionType"]');
        if (firstRadioButton) {
            firstRadioButton.checked = true;
        }

        // 각 라디오 버튼에 대한 참조를 가져옵니다.
        var typeRadios = document.querySelectorAll('input[type=radio][name="questionType"]');

        // 각 라디오 버튼에 이벤트 리스너를 추가합니다.
        typeRadios.forEach(function(radio) {
            radio.addEventListener('change', handleTypeChange);
        });

        // 페이지 로드 시 초기 상태를 설정합니다.
        updateVisibility();
    };

    function updateValue(checkbox, index) {
        var hiddenInput = document.getElementById('hiddenInput' + index);
        if (checkbox.checked) {
            hiddenInput.disabled = true;
        } else {
            hiddenInput.disabled = false;
        }
    }

    function handleTypeChange() {
        updateVisibility();
    }

    function updateVisibility() {
        // 선택된 라디오 버튼을 찾습니다.
        var selectedType = document.querySelector('input[type=radio][name="questionType"]:checked').value;

        // 각 섹션의 표시 여부를 설정합니다.
        displaySection('multiple-choice', selectedType === 'MULTIPLE_CHOICE');
        displaySection('subjective', selectedType === 'SUBJECTIVE');
        displaySection('ox', selectedType === 'OX');
    }

    function displaySection(className, show) {
        // 해당 클래스를 가진 모든 요소에 대해 처리합니다.
        var elements = document.querySelectorAll('.' + className);
        elements.forEach(function(element) {
            element.style.display = show ? 'block' : 'none';
        });
    }
</script>


</body>
</html>