<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <h1 th:text="${round.roundName}"></h1>
    </div>
    <div th:each="question : ${questions}">
        <div class="exam_item" type="C">
            <div class="exam_question">
                <strong><span class="exam_no" th:text="${question.number}+'.'"></span></strong>
                <span th:text="${question.whatQuestion}">질문 제목</span>
            </div>
            <div class="exam_answer">
                <ul>
                    <li th:each="answer, answerStat : ${question.choices}"
                        th:if="${answer != null and !answer.isEmpty()}"
                        class="exam_answer">
                        <div class="exam_no_select no-drag" id="exam_answer_select">
                            <span class="select_num" th:text="${answerStat.count}"></span>
                        </div>
                        <span th:text="${answer}">답변 내용</span>
                    </li>
                </ul>
            </div>
            <input type="hidden" name="exam_answer" value="1">
        </div>
    </div>


    문제 추가하기
    <a th:href="@{/{id}/question/new(id=${round.id})}" th:text="${round.roundName}"></a>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->


</body>
</html>