<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <h1 th:text="${round.roundName}"></h1>
    </div>
    <form action="/question/submit">
        <div th:replace="fragments/questionFragment :: questionFragment(${questions})"></div>

        <div class="button-container">
            <input type="submit" class="btn btn-primary" value="정답 확인" />
            <div class="button-group">
                <input class="btn btn-danger">이전 문제</input>
                <input class="btn btn-danger">다음 문제</input>
            </div>
        </div>
    </form>

    문제 추가하기
    <a th:href="@{/{id}/question/new(id=${round.id})}" th:text="${round.roundName}"></a>



    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const questions = document.querySelectorAll(".exam_item");

        questions.forEach((question, index) => {
            const answers = question.querySelectorAll(".exam_answer li");
            const inputHidden = document.getElementById('selectedAnswers-' + (index + 1));
            let answerValues = new Array(answers.length).fill('WRONG');

            answers.forEach((answer, answerIndex) => {
                answer.addEventListener("click", function(event) {
                    event.preventDefault();
                    if (answerValues[answerIndex] === 'WRONG') {
                        answerValues[answerIndex] = 'CORRECT';
                        answer.style.backgroundColor = 'pink';
                    } else {
                        answerValues[answerIndex] = 'WRONG';
                        answer.style.backgroundColor = '';
                    }
                    inputHidden.value = JSON.stringify(answerValues);
                });
            });
        });
    });
</script>


</body>
</html>