<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h2 th:text="${round.roundName}"></h2>
    <div class="question-item multiple-choice">
        <div class="question-header">
            <strong>
                <span class="question-number" th:text="${question.number}+'.'"></span>
                <span class="question-what" th:text="${question.whatQuestion}"></span>
            </strong>
        </div>
        <div class="question-body">
            <div class="question-photo"></div>
            <div class="question-options">
                <ul class="options-ul">
                    <li class="option-li" th:text="${question.options.option1}"></li>
                    <li class="option-li" th:text="${question.options.option2}"></li>
                    <li class="option-li" th:text="${question.options.option3}"></li>
                    <li class="option-li" th:text="${question.options.option4}"></li>
                    <li class="option-li" th:text="${question.options.option5}"></li>
                </ul>
            </div>
        </div>
        <div class="question-choices">
            <ul class="choices-ul">
                <li class="choice-li" th:if="${question.choices.choice1 != ''}" onclick="toggleChoice(1)" th:text="'① ' + ${question.choices.choice1}"></li>
                <li class="choice-li" th:if="${question.choices.choice2 != ''}" onclick="toggleChoice(2)" th:text="'② ' + ${question.choices.choice2}"></li>
                <li class="choice-li" th:if="${question.choices.choice3 != ''}" onclick="toggleChoice(3)" th:text="'③ ' + ${question.choices.choice3}"></li>
                <li class="choice-li" th:if="${question.choices.choice4 != ''}" onclick="toggleChoice(4)" th:text="'④ ' + ${question.choices.choice4}"></li>
                <li class="choice-li" th:if="${question.choices.choice5 != ''}" onclick="toggleChoice(5)" th:text="'⑤ ' + ${question.choices.choice5}"></li>
            </ul>
        </div>
        <div class="check-answer">
            <div class="question-submit">
                <form method="post" action="/questionLog/submit">
                    <input type="hidden" id="choice1" th:value="${T(rimgosu.cbthub.domain.question.OX).X}" name="choseMultipleChoiceAnswer1"/>
                    <input type="hidden" id="choice2" th:value="${T(rimgosu.cbthub.domain.question.OX).X}" name="choseMultipleChoiceAnswer2"/>
                    <input type="hidden" id="choice3" th:value="${T(rimgosu.cbthub.domain.question.OX).X}" name="choseMultipleChoiceAnswer3"/>
                    <input type="hidden" id="choice4" th:value="${T(rimgosu.cbthub.domain.question.OX).X}" name="choseMultipleChoiceAnswer4"/>
                    <input type="hidden" id="choice5" th:value="${T(rimgosu.cbthub.domain.question.OX).X}" name="choseMultipleChoiceAnswer5"/>

                    <input type="hidden" th:value="${T(rimgosu.cbthub.domain.logs.QuestionLogType).UNSOLVED}" name="questionLogType"/>
                    <input type="hidden" th:value="${T(rimgosu.cbthub.domain.question.QuestionType).MULTIPLE_CHOICE}" name="questionType"/>

                    <button type="submit" id="submitButton" class="btn btn-primary">정답확인</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script>
    function toggleChoice(choiceNumber) {
        var choiceElement = document.getElementById('choice' + choiceNumber);
        var liElement = choiceElement.parentNode.querySelector('.choice-li:nth-child(' + choiceNumber + ')');

        // 값 변경
        if (choiceElement.value === '${T(rimgosu.cbthub.domain.question.OX).X}') {
            choiceElement.value = '${T(rimgosu.cbthub.domain.question.OX).O}';
        } else {
            choiceElement.value = '${T(rimgosu.cbthub.domain.question.OX).X}';
        }

        // 색상 변경
        if (liElement.style.backgroundColor === 'pink') {
            liElement.style.backgroundColor = '';
        } else {
            liElement.style.backgroundColor = 'pink';
        }
    }
</script>

</body>
</html>
