<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <h1 th:text="${round.roundName}"></h1>
    </div>
    <div th:replace="fragments/questionFragment :: questionFragment(${questions})"></div>

    <button class="btn btn-primary">정답 확인</button><br>
    <button class="btn btn-danger">이전 문제</button>
    <button class="btn btn-danger">다음 문제</button><br>

    문제 추가하기
    <a th:href="@{/{id}/question/new(id=${round.id})}" th:text="${round.roundName}"></a>



    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->


</body>
</html>