<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <p>회차 등록 페이지</p>
    <form id="roundForm" role="form" action="/round/new" th:object="${roundForm}"
          method="post">
        <div class="form-group">
            <label th:for="name">이름</label>
            <input required type="text" th:field="*{roundName}" class="form-control"
                   placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('roundName')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('roundName')}"
               th:errors="*{roundName}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="category">카테고리</label>
            <label>
                <input readonly th:field="${category.categoryName}" type="text" class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label th:for="applicantsNumber">접수자수</label>
            <input required type="text" id="applicantsNumber" th:field="*{roundInfo.applicantsNumber}" class="form-control"
                   placeholder="접수자수를 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="testTakersNumber">응시자수</label>
            <input required type="text" id="testTakersNumber" th:field="*{roundInfo.testTakersNumber}" class="form-control"
                   placeholder="응시자수를 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="passersNumber">합격자수</label>
            <input required type="text" id="passersNumber" th:field="*{roundInfo.passersNumber}" class="form-control"
                   placeholder="합격자수를 입력하세요">
        </div>

        <div class="form-group">
            <label th:for="testDate">응시일자</label>
            <input required type="text" id="testDate" th:field="*{roundInfo.testDate}" class="form-control"
                   placeholder="응시일자를 입력하세요">
        </div>

        <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>