<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>자격증명</th>
                <th>필기/실기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td class="clickable" th:text="${category.categoryName}" th:onclick="redirectToNewRound(${category.id})"></td>
                <td th:text="${category.categoryType}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script>
    function redirectToNewRound(categoryId) {
        window.location.href = '/round/' + categoryId + '/new';
    }
</script>
</body>
</html>